
.u-margin-bottom-small { margin-bottom: 1.2rem !important; }
.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-big { margin-bottom: 8rem !important; }
.u-margin-bottom-huge { margin-bottom: 30px !important; }

.u-margin-minus-bottom-big { margin-bottom: -4px !important; } //text header



.u-margin-top-small { margin-top: 5.5px !important; }
.u-margin-top-medium { margin-top: 6px !important; }

.u-margin-top-7px { margin-top: 7px !important; }
.u-margin-top-8px { margin-top: 8px !important; }

.u-margin-top-huge { margin-top: 20px !important; }
.u-margin-top-huge1 { margin-top: 49px !important; }

//Card
.mr-4px { margin-right: 4px !important; }
.mr-5px { margin-right: 5px !important; }

.mt-100px { margin-top: 100px !important; }
.mt-80px { margin-top: 80px !important; }
.mt-60px { margin-top: 60px !important; }
.mt-59px { margin-top: 59px !important; }
.mt-55px { margin-top: 55px !important; }
.mt-50px { margin-top: 50px !important; }
.mt-47px { margin-top: 47px !important; }
.mt-30px { margin-top: 30px !important; }
.mt-29px { margin-top: 29px !important; }
.mt-28px { margin-top: 28px !important; }
.mt-25px { margin-top: 25px !important; }
.mt-24px { margin-top: 24px !important; }
.mt-22px { margin-top: 22px !important; }
.mt-20px { margin-top: 20px !important; }
.mt-18-5px { margin-top: 18.5px !important; }
.mt-18px { margin-top: 18px !important; }
.mt-17px { margin-top: 17px !important; }
.mt-16px { margin-top: 16px !important; }
.mt-15px { margin-top: 15px !important; }
.mt-14-5px { margin-top: 14.5px !important; }
.mt-14px { margin-top: 14px !important; }
.mt-13px { margin-top: 13px !important; }
.mt-12px { margin-top: 12px !important; }
.mt-10-5px { margin-top: 10.5px !important; }
.mt-10px { margin-top: 10px !important; }
.mt-9-5px { margin-top: 9.5px !important; }
.mt-9px { margin-top: 9px !important; }
.mt-8px { margin-top: 8px !important; }
.mt-7-5px { margin-top: 7.5px !important; }
.mt-7px { margin-top: 7px !important; }
.mt-6-5px { margin-top: 6.5px !important; }
.mt-6px { margin-top: 6px !important; }
.mt-5px { margin-top: 5px !important; }
.mt-4px { margin-top: 4px !important; }
.mt-3px { margin-top: 3px !important; }
.mt-2px { margin-top: 2px !important; }
.mt-1px { margin-top: 1px !important; }

//margin bottom
.mb-34px { margin-bottom: 34px !important; }
.mb-33px { margin-bottom: 33px !important; }
.mb-30px { margin-bottom: 30px !important; }
.mb-28px { margin-bottom: 28px !important; }
.mb-24px { margin-bottom: 24px !important; }
.mb-23-5px { margin-bottom: 23.5px !important; }
.mb-23px { margin-bottom: 23px !important; }
.mb-22px { margin-bottom: 22px !important; }
.mb-21-5px { margin-bottom: 21.5px !important; }
.mb-21px { margin-bottom: 21px !important; }
.mb-20px { margin-bottom: 20px !important; }
.mb-19px { margin-bottom: 19px !important; }
.mb-17px { margin-bottom: 17px !important; }
.mb-15-5px { margin-bottom: 15.5px !important; }
.mb-15px { margin-bottom: 15px !important; }
.mb-14-5px { margin-bottom: 14.5px !important; }
.mb-12-5px { margin-bottom: 12.5px !important; }
.mb-12px { margin-bottom: 12px !important; }
.mb-10px { margin-bottom: 10px !important; }
.mb-9-5px { margin-bottom: 9.5px !important; }
.mb-9px { margin-bottom: 9px !important; }
.mb-8-5px { margin-bottom: 8.5px !important; }
.mb-8px { margin-bottom: 8px !important; }
.mb-7px { margin-bottom: 7px !important; }
.mb-6px { margin-bottom: 6px !important; }
.mb-5px { margin-bottom: 5px !important; }
.mb-4-5px { margin-bottom: 4.5px !important; }
.mb-4px { margin-bottom: 4px !important; }
.mb-2px { margin-bottom: 2px !important; }
.mb--1px { margin-bottom: -1px !important; }