.section-myInfo {
    margin: 0 16px;
    border-radius: 10px;

    display: grid;
    grid-template-rows: 39px minmax(93px, min-content) min-content;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;

    align-items: center;
    justify-items: left;

    background-color: $color-sherpa-blue;

    &__bg {
        grid-area: 1 / 1 / 2 / -1;
        z-index: 2;
        width: 100%;
        height: 38px;

        @include non_select;
        pointer-events: none;
        @include non_decor_button;
    }

    .header-left {
        grid-area: 1 / 1 / 2 / 2;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;

        color: $color-baby-chick;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.2;

        padding-left: 11px;
        padding-top: 2px;

        @include non_select;
        pointer-events: none;

        &--text {
            margin-right: 6px;
            font-family: 'Roboto';
            font-weight: 400;
        }

        .totalIcoin {
            display: flex;
        }

        &--img {
            width: 16px;
            height: 16px;
            margin-right: 6px;
            transform: translateY(-1px);
        }

        &--icoin {
            font-weight: 400;
            margin-bottom: 1px;
        }
    }

    .header-right {
        grid-area: 1 / 2 / 2 / 3;
        z-index: 2;
        justify-self: end;

        display: flex;
        grid-template-columns: max-content 1fr;

        color: $color-white;
        font-size: 14px;
        font-weight: 300;
        line-height: 1;

        padding-top: 1px;
        @include non_select;

        &--text {
            margin-right: 6px;
            font-family: 'Roboto';
            font-weight: 400;
        }

        &--arrow {
            margin-right: 11px;
            max-width: 7px;
            height: auto;
        }
    }

    @media (max-width: 375px) {
        .header-left {
            line-height: 1.2;
            font-size: 12px;
            @include non_select;
            pointer-events: none;
        }

        .header-right {
            font-size: 12px;
        }
    }

    &__cards {
        grid-area: 2 / 1 / 3 / 3;

        justify-self: center;
        align-content: start;
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;

        border-left: 0.1px solid $color-eucalyptus;
        border-right: 0.1px solid $color-eucalyptus;

        @include non_select;
        pointer-events: none;

        .card__main {
            display: grid;
            grid-template-rows: min-content 32px min-content max-content;
            grid-template-columns: 64px;
            justify-items: stretch;
            align-items: center;
            justify-content: center;

            text-align: center;
            font-size: 10px;
            border-radius: 4px;
            padding-top: 9px;

            &--background-color {
                grid-area: 1 / 1 / 3 / 2;
                justify-items: center;
                align-self: stretch;
                background-color: $color-Midnight-green;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                margin: 0 9.5px;
            }

            &--header {
                grid-area:  1 / 1 / 2 / 2;
                padding-top: 2px;
                color: $color-green-jungle;
                font-family: 'Yeseva One';
                line-height: 1;
                font-size: 9px;
            }

            &--background {
                grid-area: 2 / 1 / 3 / 2;
                z-index: 1;
                align-self: start;

                max-width: 23px;
                height: auto;
                justify-self: center;

            }

            &--zodiac {
                grid-area: 2 / 1 / 3 / 2;
                z-index: 2;
                width: 30%;
                width: 16px;
                height: auto;
                justify-self: center;
                align-self: center;
                padding-bottom: 2px;
            }

            &--bonus {
                background-color: $color-1;
                line-height: 1;
                color: $color-aquamarine-medium;
                padding-top: 1.5px;
                padding-bottom: 1.7px;
                font-weight: 300;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;

                margin: 0 9.5px;
            }

            &--icoin {
                margin-top: 3px;
                font-size: 10px;
                color: $color-grey;
                font-weight: 300;
            }
        }
    }

    $padding-bottom: 5.5px;

    .end {
        grid-area: 3 / 1 / 4 / 3;
        display: grid;
        grid-template-columns: max-content max-content;
        grid-template-rows: min-content;

        justify-content: space-between;
        align-content: center;

        width: 100%;
        border-right: 0.1px solid $color-eucalyptus;
        border-left: 0.1px solid $color-eucalyptus;
        border-bottom: 0.1px solid $color-eucalyptus;

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .end-left {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        color: $color-white;
        padding-bottom: $padding-bottom;
        align-self: end;

        @include non_select;
        pointer-events: none;

        &--text {
            font-size: 13px;
            font-weight: 400;
            font-family: 'Roboto';
            padding-left: 11px;
            margin-right: 6px;
        }

        &--img {
            width: 16px;
            height: auto;
            margin-right: 6px;
            margin-bottom: 2px;
        }

        &--icoin {
            font-size: 13px;
            font-weight: 500;
        }


    }

    .end-right {
        grid-area: 1 / 2 / 2 / 3;
        justify-self: end;

        display: flex;
        justify-content: end;
        align-items: center;
  


        color: $color-white;
        padding-bottom: $padding-bottom;

        @include non_decor_button;
        @include non_select;

        &--text {
            margin-right: 6px;
            font-weight: 400;
            font-family: 'Roboto';
        }

        &--img {
            max-width: 6px;
            height: auto;
            margin-right: 10px
        }
    }
}