/* Popup.scss */
.open-card-popup-overlay {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}
  
.open-card {
    position: relative;
    max-width: 430px;
    width: 100%;
    height: auto;

    display: grid;
   
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;

    @include non_select;
    pointer-events: none;

    &--tornado {
        grid-area: 1 / 1 / 2 / 2;
        z-index: 1;
    }

    &--light {
        grid-area: 1 / 1 / 2 / 2;
        z-index: 2;
    }

    .card {
        grid-area: 1 / 1 / 2 / 2;
        z-index: 3;
        display: grid;
        align-content: center;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(10, 50px);

        // &--1 {
        //     grid-area: 1 / 1 / 3 / 6;
        // }

        // &--2 {
        //     grid-area: 2 / 6 / 3 / 8;
        // }

        // &--3 {
        //     grid-area: 2 / 6 / 3 / 8;
        // }

        // &--4 {
        //     grid-area: 2 / 6 / 3 / 8;
        // }

        // &--5 {
        //     grid-area: 2 / 6 / 3 / 8;
        // }

        // &--6 {
        //     grid-area: 2 / 6 / 3 / 8;
        // }

        // &--7 {
        //     grid-area: 2 / 6 / 3 / 8;
        // }

        // &--8 {
        //     grid-area: 2 / 6 / 3 / 8;
        // }
    }

    
}
