.maintain {
    background: $color-white;

    max-width: 327px;
    height: auto;

    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    align-content: center;

    border-radius: 10px;
    margin: 0 auto;
    padding: 28px 33px 31.5px 33px;

    position: relative;
    top: 28vh;

    z-index: 3000;

    @include non_select;

    &--img {
        grid-area: 1 / 1 / 1 / -1;
        max-width: 156px;
        max-height: auto;
        user-select: none;
        margin-bottom: 20px;
        pointer-events: none;
    }

    &--text {
        line-height: 1;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 7px;
    }
}
