.rule {
    background: white;
    position: relative;
    max-width: 260px;
    height: auto;
    display: grid;
    grid-template-rows: repeat(2, min-content) 49px repeat(2, min-content);
    justify-content: center;
    justify-items: center;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: -5px;

    @include non_select;

    &--primary {
        font-size: 16px;
        line-height: 1;
        font-weight: 400;
        margin-top: 18.5px;
    }

    &--img {
        max-width: 226px;
        max-height: 100px;
        margin: 18.5px 0 20px 0;
        user-select: none;
        pointer-events: none;
    }

    &--secondary {
        text-align: justify;
        color: $color-black;
        font-size: 14px;
        line-height: 1.25;
        font-weight: 390;
        margin: 0 16px;
    }

    &__line {
        display: flex;
        line-height: 1;
        margin-top: 50px;

        & > :not(:last-child) {
            margin-right: 5px;
        }

        &--selected {
            width: 19px;
            height: 2px;
            background-color: $color-line-3;
            border-radius: 1px;
        }

        &--normal {
            width: 12px;
            height: 2px;
            background-color: $color-line-4;
            border-radius: 1px;
        }
    }

    &__button {
        text-align: center;
        background-color: $color-bg-button-rule;
        width: 189px;
        height: 40px;
        border-radius: 29px;
        margin: 13px 0 20px 0;

        &--next {
            @include non_decor_button;
            color: $color-white;
            font-size: 20px;
            line-height: 1;
            margin-top: 11px;
            font-weight: 420;
        }
    }
}
