//GRID


//COLORS
$color-grey-light-1: grey;

$color-white: #ffffff;
$color-black: #000000;

$color-aquamarine-medium: #5fdabc;
$color-green-dark: #042428;
$color-green-crayola: #16a17f;
$color-eucalyptus: #32DAB1;
$color-green-jungle: #29B89A;
$color-warm-black: #094348;
$color-warm-black-2: #094147;
$color-eden: #0C4D53;
$color-sacramento-state-green: #062F33;
$color-sherpa-blue: #054254;

$color-Midnight-green: #0A5158;
$color-baby-chick: #FFEBA2;
$color-1: #0D626A;
$color-grey: #9D9D9D;
$color-line: #28B598;
$color-black: #000;
$color-2: #136761;


//CARD
$card-small-width:  21px;
$card-small-height: 28px;

$card-large-width: 68px;
$card-large-height: 90px;

//WIDTH-SCREEN
$width: 430px;

//margin
$margin-common-side: 16px;

//Confirm button
$color-3: #FFBF5C;
$color-4: #FFF3C4;
$color-5: #F15350;

$color-6: #FEE65E;
$color-7: #FFDB23;


//crown background
$color-lost-av-no1-t: #F0AB39;
$color-lost-av-no1-b: #FAE5C2;

$color-lost-av-no2-t: #B1D2F2;
$color-lost-av-no2-b: #7A97AE;

$color-lost-av-no3-t: #ECB79F;
$color-lost-av-no3-b: #CA7B49;

//line
$color-line-1: #B8B8B8;
$color-line-2: #C8C8C8;

$color-line-3: #8D8D8D;
$color-line-4: #F6F6F6;

//shadown
$color-text-shadow: #000000;

//win text
$color-win-t: #F3FE5C;
$color-win-b: #ECB926;

//rule
$color-bg-button-rule: #1D8E7C;

//result-table
$color-result-1: #1CB3A8;
$color-result-2: #136761;
$color-result-3: #58E2C5;

//icoin 
$color-icoin-win: #00AC26;

//dialog notification
$color_noti_right: #F15351;






