* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  border: none;
  background-color: transparent;
  overscroll-behavior: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  border: none;
  background-color: transparent;
}

body {
  border: inherit;
  background-color: inherit;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  max-width: 430px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
  margin: 0 auto;
  background-image: url(../assets/buffalo_logo.svg), url(../assets/goat_logo.svg), linear-gradient(to bottom, #094348 0%, #062F33 30%, #062F33 100%);
  background-position: top left, top right, center;
  background-repeat: no-repeat;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.heading-secondary {
  color: #5fdabc;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  display: inline-block;
  font-weight: 400;
  color: #5fdabc;
}

.u-margin-bottom-small {
  margin-bottom: 1.2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-huge {
  margin-bottom: 30px !important;
}

.u-margin-minus-bottom-big {
  margin-bottom: -4px !important;
}

.u-margin-top-small {
  margin-top: 5.5px !important;
}

.u-margin-top-medium {
  margin-top: 6px !important;
}

.u-margin-top-7px {
  margin-top: 7px !important;
}

.u-margin-top-8px {
  margin-top: 8px !important;
}

.u-margin-top-huge {
  margin-top: 20px !important;
}

.u-margin-top-huge1 {
  margin-top: 49px !important;
}

.mr-4px {
  margin-right: 4px !important;
}

.mr-5px {
  margin-right: 5px !important;
}

.mt-100px {
  margin-top: 100px !important;
}

.mt-80px {
  margin-top: 80px !important;
}

.mt-60px {
  margin-top: 60px !important;
}

.mt-59px {
  margin-top: 59px !important;
}

.mt-55px {
  margin-top: 55px !important;
}

.mt-50px {
  margin-top: 50px !important;
}

.mt-47px {
  margin-top: 47px !important;
}

.mt-30px {
  margin-top: 30px !important;
}

.mt-29px {
  margin-top: 29px !important;
}

.mt-28px {
  margin-top: 28px !important;
}

.mt-25px {
  margin-top: 25px !important;
}

.mt-24px {
  margin-top: 24px !important;
}

.mt-22px {
  margin-top: 22px !important;
}

.mt-20px {
  margin-top: 20px !important;
}

.mt-18-5px {
  margin-top: 18.5px !important;
}

.mt-18px {
  margin-top: 18px !important;
}

.mt-17px {
  margin-top: 17px !important;
}

.mt-16px {
  margin-top: 16px !important;
}

.mt-15px {
  margin-top: 15px !important;
}

.mt-14-5px {
  margin-top: 14.5px !important;
}

.mt-14px {
  margin-top: 14px !important;
}

.mt-13px {
  margin-top: 13px !important;
}

.mt-12px {
  margin-top: 12px !important;
}

.mt-10-5px {
  margin-top: 10.5px !important;
}

.mt-10px {
  margin-top: 10px !important;
}

.mt-9-5px {
  margin-top: 9.5px !important;
}

.mt-9px {
  margin-top: 9px !important;
}

.mt-8px {
  margin-top: 8px !important;
}

.mt-7-5px {
  margin-top: 7.5px !important;
}

.mt-7px {
  margin-top: 7px !important;
}

.mt-6-5px {
  margin-top: 6.5px !important;
}

.mt-6px {
  margin-top: 6px !important;
}

.mt-5px {
  margin-top: 5px !important;
}

.mt-4px {
  margin-top: 4px !important;
}

.mt-3px {
  margin-top: 3px !important;
}

.mt-2px {
  margin-top: 2px !important;
}

.mt-1px {
  margin-top: 1px !important;
}

.mb-34px {
  margin-bottom: 34px !important;
}

.mb-33px {
  margin-bottom: 33px !important;
}

.mb-30px {
  margin-bottom: 30px !important;
}

.mb-28px {
  margin-bottom: 28px !important;
}

.mb-24px {
  margin-bottom: 24px !important;
}

.mb-23-5px {
  margin-bottom: 23.5px !important;
}

.mb-23px {
  margin-bottom: 23px !important;
}

.mb-22px {
  margin-bottom: 22px !important;
}

.mb-21-5px {
  margin-bottom: 21.5px !important;
}

.mb-21px {
  margin-bottom: 21px !important;
}

.mb-20px {
  margin-bottom: 20px !important;
}

.mb-19px {
  margin-bottom: 19px !important;
}

.mb-17px {
  margin-bottom: 17px !important;
}

.mb-15-5px {
  margin-bottom: 15.5px !important;
}

.mb-15px {
  margin-bottom: 15px !important;
}

.mb-14-5px {
  margin-bottom: 14.5px !important;
}

.mb-12-5px {
  margin-bottom: 12.5px !important;
}

.mb-12px {
  margin-bottom: 12px !important;
}

.mb-10px {
  margin-bottom: 10px !important;
}

.mb-9-5px {
  margin-bottom: 9.5px !important;
}

.mb-9px {
  margin-bottom: 9px !important;
}

.mb-8-5px {
  margin-bottom: 8.5px !important;
}

.mb-8px {
  margin-bottom: 8px !important;
}

.mb-7px {
  margin-bottom: 7px !important;
}

.mb-6px {
  margin-bottom: 6px !important;
}

.mb-5px {
  margin-bottom: 5px !important;
}

.mb-4-5px {
  margin-bottom: 4.5px !important;
}

.mb-4px {
  margin-bottom: 4px !important;
}

.mb-2px {
  margin-bottom: 2px !important;
}

.mb--1px {
  margin-bottom: -1px !important;
}

.card--zodiac {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.card--zodiac__background-selected {
  background-image: url("../assets/card-background-selected.svg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card--zodiac__background--small {
  background-image: url("../assets/bg_card_normal_light.svg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 29px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.card--zodiac__background--medium {
  background-image: url("../assets/card-background-selected.svg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.card--zodiac__small {
  width: 80%;
  height: auto;
  object-fit: fit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.betting-card__background--medium {
  background-image: url("../assets/background_card_large.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.avatar {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 1px solid #32DAB1;
}
.avatar__medium {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid #32DAB1;
  margin-right: 10px;
}

.betting-card {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  align-items: start;
  width: 1fr;
}
.betting-card--no {
  margin-top: 3px;
  font-size: 9px;
  font-weight: 600px;
  color: #29B89A;
  line-height: 1;
  font-family: "Yeseva One";
}
.betting-card--bonus {
  margin-top: 2px;
  padding: 2px 18px;
  background: linear-gradient(to left, transparent, #094348 25%, #0A5B62 50%, #094348 75%, transparent);
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #5fdabc;
  background-size: 100% 100%;
}
.betting-card--players {
  margin-top: 4px;
  font-size: 10px;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.1;
}
.betting-card--background {
  height: auto;
  grid-area: 2/1/3/2;
  z-index: 1;
  max-height: 98px;
}
.betting-card--zodiac {
  align-self: center;
  max-width: 65%;
  height: auto;
  grid-area: 2/1/3/2;
  z-index: 2;
}
@media (max-width: 320px) {
  .betting-card--bonus {
    padding: 1px 10px;
  }
}

.icoin-logo {
  background-size: 100% 100%;
  text-align: center;
  width: 16px;
  margin: 0 4px;
}
.icoin-logo--medium {
  padding: 12px 12px;
}

.arrow-white {
  margin: 0 5px;
}

.bg {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}
.bg--circle-light {
  grid-area: 1/1/2/2;
  z-index: -1;
}

.flip-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  grid-area: 1/1/2/2;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.flip-card__back {
  grid-area: 1/1/2/2;
  backface-visibility: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
.flip-card__back--bg {
  grid-area: 1/1/2/2;
  justify-self: center;
  width: 155px;
  height: auto;
  z-index: 1;
}
.flip-card__back--zodiac {
  grid-area: 1/1/2/2;
  width: 100px;
  height: auto;
  z-index: 2;
}
.flip-card__front {
  grid-area: 1/1/2/2;
  backface-visibility: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
.flip-card__front--bg {
  grid-area: 1/1/2/2;
  width: 155px;
  height: auto;
}
.flip-card__front--questionMark {
  grid-area: 1/1/2/2;
}

.custom-toast {
  background-color: #333;
  color: #333;
  opacity: 0.4;
}

.popup-overlay-center {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.open-card {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  max-width: 430px;
  width: 100%;
  height: auto;
}
.open-card--img {
  grid-area: 1/1/2/2;
  z-index: 9;
  padding-left: 7px;
  width: 28%;
  height: auto;
}
.open-card--lottie-animation {
  max-width: 430px;
  width: 100%;
  height: 100%;
  grid-area: 1/1/2/2;
  z-index: 8;
}

.popup-overlay-history {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: min-content;
  grid-template-columns: max-content;
  padding-bottom: 2vh;
  z-index: 7;
}

.button-moving {
  background-image: url(../assets/background-button.svg);
  text-align: center;
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
  -webkit-text-stroke: 0.5px #ffffff;
  font-weight: 900;
  color: #136761;
  font-size: 17px;
  line-height: 32px;
  font-family: "Roboto";
}
.button-moving--content {
  -webkit-text-stroke: 0.5px #ffffff;
  font-weight: 900;
  color: #136761;
  font-size: 17px;
  line-height: 32px;
  font-family: "Roboto";
}

.home_loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  justify-content: stretch;
  justify-items: stretch;
  margin-bottom: calc(env(safe-area-inset-bottom) / 2);
}

.section-header {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.section-header__rule {
  justify-self: end;
  border: none;
  background-color: transparent;
}

.section-header__logout {
  justify-self: start;
  border: none;
  background-color: transparent;
}

.section-header__account {
  justify-self: end;  /* Căn phải giống như rule */
  border: none;
  background-color: transparent;
  margin-top: 10px;  /* Tạo khoảng cách với rule phía trên */
}

.section-header__logo--left {
  top: 0;
  left: 0;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
}
.result__left {
  display: flex;
  justify-content: left;
  align-items: center;
  white-space: nowrap;
}
.result__left--text {
  font-size: 12px;
  color: #5fdabc;
  margin-right: 8px;
}
.result__right {
  display: flex;
  align-items: center;
  justify-content: right;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}
.result__right--number {
  font-size: 12px;
  background-color: #0C4D53;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  text-align: center;
  line-height: 1.95;
  color: #5fdabc;
}

.best-players {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;
  margin: 0 16px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}
.best-players__bg {
  grid-area: 1/1/-1/-1;
  z-index: -1;
  width: 100%;
  height: 100%;
  max-height: 255px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.best-players--img {
  grid-area: 1/1/2/2;
  padding-top: 2px;
  max-width: 214px;
  height: auto;
  margin: 0 auto;
  z-index: 1;
}
.best-players .contents {
  max-width: 100%;
  height: auto;
  grid-area: 2/1/3/2;
  z-index: 2;
  display: grid;
  align-content: start;
  margin-bottom: 24px;
  margin-top: 6px;
}
.best-players .contents > :not(:first-child) {
  border-top: 0.3px solid #28B598;
}
.best-players .contents > :not(:last-child) {
  padding-bottom: 9px;
}
.best-players .contents .content0 {
  max-width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: minmax(max-content, 45px) 1fr;
  margin: 0 17px;
  padding-top: 8.5px;
  color: #ffffff;
  line-height: 1;
}
.best-players .contents .content0--img {
  grid-area: 1/1/3/2;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #32DAB1;
  margin-right: 10px;
}
.best-players .contents .content0--name {
  grid-area: 1/2/2/3;
  align-self: end;
  justify-self: start;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 1.5px;
}
.best-players .contents .content0--text {
  grid-area: 2/2/3/3;
  align-self: start;
  justify-self: start;
  font-size: 12px;
  margin-top: 4.5px;
}
.best-players .contents .content0__icoin {
  grid-area: 1/3/3/4;
  display: flex;
  align-items: center;
  line-height: 1;
  margin-top: 1px;
}
.best-players .contents .content0__icoin--data {
  font-size: 12px;
  margin-right: 6px;
}
.best-players .contents .content0__icoin--img {
  width: 12px;
}
.best-players .contents .content1 {
  max-width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: minmax(max-content, 45px) 1fr;
  margin: 0 17px;
  padding-top: 8.5px;
  color: #ffffff;
  line-height: 1;
}
.best-players .contents .content1--img {
  grid-area: 1/1/3/2;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #32DAB1;
  margin-right: 10px;
}
.best-players .contents .content1--name {
  grid-area: 1/2/2/3;
  align-self: end;
  justify-self: start;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 1.5px;
}
.best-players .contents .content1--text {
  grid-area: 2/2/3/3;
  align-self: start;
  justify-self: start;
  font-size: 12px;
  margin-top: 4.5px;
}
.best-players .contents .content1__icoin {
  grid-area: 1/3/3/4;
  display: flex;
  align-items: center;
  line-height: 1;
  margin-top: 1px;
}
.best-players .contents .content1__icoin--data {
  font-size: 12px;
  margin-right: 6px;
}
.best-players .contents .content1__icoin--img {
  width: 12px;
}
.best-players .contents .content2 {
  max-width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: minmax(max-content, 45px) 1fr;
  margin: 0 17px;
  padding-top: 8.5px;
  color: #ffffff;
  line-height: 1;
}
.best-players .contents .content2--img {
  grid-area: 1/1/3/2;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #32DAB1;
  margin-right: 10px;
}
.best-players .contents .content2--name {
  grid-area: 1/2/2/3;
  align-self: end;
  justify-self: start;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 1.5px;
}
.best-players .contents .content2--text {
  grid-area: 2/2/3/3;
  align-self: start;
  justify-self: start;
  font-size: 12px;
  margin-top: 4.5px;
}
.best-players .contents .content2__icoin {
  grid-area: 1/3/3/4;
  display: flex;
  align-items: center;
  line-height: 1;
  margin-top: 1px;
}
.best-players .contents .content2__icoin--data {
  font-size: 12px;
  margin-right: 6px;
}
.best-players .contents .content2__icoin--img {
  width: 12px;
}

.section-myInfo {
  margin: 0 16px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 39px minmax(93px, min-content) min-content;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: left;
  background-color: #054254;
}
.section-myInfo__bg {
  grid-area: 1/1/2/-1;
  z-index: 2;
  width: 100%;
  height: 38px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
  border: none;
  background-color: transparent;
}
.section-myInfo .header-left {
  grid-area: 1/1/2/2;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  color: #FFEBA2;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  padding-left: 11px;
  padding-top: 2px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}
.section-myInfo .header-left--text {
  margin-right: 6px;
  font-family: "Roboto";
  font-weight: 400;
}
.section-myInfo .header-left .totalIcoin {
  display: flex;
}
.section-myInfo .header-left--img {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  transform: translateY(-1px);
}
.section-myInfo .header-left--icoin {
  font-weight: 400;
  margin-bottom: 1px;
}
.section-myInfo .header-right {
  grid-area: 1/2/2/3;
  z-index: 2;
  justify-self: end;
  display: flex;
  grid-template-columns: max-content 1fr;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  padding-top: 1px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.section-myInfo .header-right--text {
  margin-right: 6px;
  font-family: "Roboto";
  font-weight: 400;
}
.section-myInfo .header-right--arrow {
  margin-right: 11px;
  max-width: 7px;
  height: auto;
}
@media (max-width: 375px) {
  .section-myInfo .header-left {
    line-height: 1.2;
    font-size: 12px;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
  }
  .section-myInfo .header-right {
    font-size: 12px;
  }
}
.section-myInfo__cards {
  grid-area: 2/1/3/3;
  justify-self: center;
  align-content: start;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  border-left: 0.1px solid #32DAB1;
  border-right: 0.1px solid #32DAB1;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}
.section-myInfo__cards .card__main {
  display: grid;
  grid-template-rows: min-content 32px min-content max-content;
  grid-template-columns: 64px;
  justify-items: stretch;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10px;
  border-radius: 4px;
  padding-top: 9px;
}
.section-myInfo__cards .card__main--background-color {
  grid-area: 1/1/3/2;
  justify-items: center;
  align-self: stretch;
  background-color: #0A5158;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0 9.5px;
}
.section-myInfo__cards .card__main--header {
  grid-area: 1/1/2/2;
  padding-top: 2px;
  color: #29B89A;
  font-family: "Yeseva One";
  line-height: 1;
  font-size: 9px;
}
.section-myInfo__cards .card__main--background {
  grid-area: 2/1/3/2;
  z-index: 1;
  align-self: start;
  max-width: 23px;
  height: auto;
  justify-self: center;
}
.section-myInfo__cards .card__main--zodiac {
  grid-area: 2/1/3/2;
  z-index: 2;
  width: 30%;
  width: 16px;
  height: auto;
  justify-self: center;
  align-self: center;
  padding-bottom: 2px;
}
.section-myInfo__cards .card__main--bonus {
  background-color: #0D626A;
  line-height: 1;
  color: #5fdabc;
  padding-top: 1.5px;
  padding-bottom: 1.7px;
  font-weight: 300;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 0 9.5px;
}
.section-myInfo__cards .card__main--icoin {
  margin-top: 3px;
  font-size: 10px;
  color: #9D9D9D;
  font-weight: 300;
}
.section-myInfo .end {
  grid-area: 3/1/4/3;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: min-content;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  border-right: 0.1px solid #32DAB1;
  border-left: 0.1px solid #32DAB1;
  border-bottom: 0.1px solid #32DAB1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.section-myInfo .end-left {
  grid-area: 1/1/2/2;
  display: flex;
  color: #ffffff;
  padding-bottom: 5.5px;
  align-self: end;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}
.section-myInfo .end-left--text {
  font-size: 13px;
  font-weight: 400;
  font-family: "Roboto";
  padding-left: 11px;
  margin-right: 6px;
}
.section-myInfo .end-left--img {
  width: 16px;
  height: auto;
  margin-right: 6px;
  margin-bottom: 2px;
}
.section-myInfo .end-left--icoin {
  font-size: 13px;
  font-weight: 500;
}
.section-myInfo .end-right {
  grid-area: 1/2/2/3;
  justify-self: end;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #ffffff;
  padding-bottom: 5.5px;
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.section-myInfo .end-right--text {
  margin-right: 6px;
  font-weight: 400;
  font-family: "Roboto";
}
.section-myInfo .end-right--img {
  max-width: 6px;
  height: auto;
  margin-right: 10px;
}

/* Popup.css */
.betting-popup-overlay {
  position: fixed;
  display: grid;
  justify-content: stretch;
  align-content: end;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 4;
}

.betting-popup {
  position: relative;
  max-width: 430px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, min-content);
  justify-content: center;
  justify-items: center;
  align-content: end;
  align-items: end;
  margin: 0 auto;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.betting--BgContent {
  grid-area: 3/1/6/4;
  z-index: 5;
  width: 100%;
  height: 253px;
  transform: translateY(1px);
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.betting--BgLighter {
  grid-area: 1/1/2/4;
  z-index: 5;
  width: 168px;
  height: auto;
  transform: translateY(50px);
}
.betting--BgHeader {
  grid-area: 2/1/3/-1;
  z-index: 6;
  max-width: 327px;
  width: 100%;
  height: auto;
  transform: translateY(30px);
}
@media (max-width: 320px) {
  .betting--BgHeader {
    max-width: 270px;
    transform: translateY(22px);
  }
}
.betting--zodiac-background {
  align-self: center;
  grid-area: 1/1/2/-1;
  z-index: 7;
  width: 80px;
  transform: translateY(30px);
}
.betting--zodiac-card {
  grid-area: 1/1/2/-1;
  z-index: 8;
  width: 60px;
  align-self: center;
  transform: translateY(31px);
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.betting--text {
  grid-area: 2/1/3/-1;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  z-index: 7;
  align-items: end;
  transform: translateY(4px);
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.betting__totalIcoin {
  grid-area: 3/1/4/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 248px;
  height: 40px;
  background-color: #136761;
  border-radius: 10px;
  z-index: 5;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.betting__totalIcoin--img {
  width: 16px;
  height: auto;
  margin-right: 4px;
}
.betting__totalIcoin--icoin {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
.betting--button-1 {
  grid-area: 4/1/5/2;
  align-self: end;
  z-index: 5;
  width: 86px;
  height: 32px;
  justify-self: end;
}
.betting--button-2 {
  grid-area: 4/2/4/3;
  align-self: end;
  z-index: 5;
  width: 86px;
  height: 32px;
}
.betting--button-3 {
  grid-area: 4/3/4/4;
  align-self: end;
  justify-self: start;
  z-index: 5;
  width: 86px;
  height: 32px;
}
.betting__confirm {
  touch-action: manipulation;
  justify-self: center;
  align-self: flex-end;
  position: relative;
  display: inline-block;
  grid-area: 5/1/6/4;
  width: 244px;
  height: 46px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #F15350;
  border-radius: 23px;
  overflow: hidden;
  z-index: 5;
  font-size: 19px;
  font-weight: 600;
  line-height: 46px;
  background-image: url(../assets/bg_confirm_btn.svg);
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  border: none;
  background-color: transparent;
}

.lost-popup-overlay {
  position: fixed;
  display: grid;
  justify-content: stretch;
  align-content: end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 4;
}

.lost-popup {
  position: relative;
  max-width: 430px;
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, min-content);
  justify-items: center;
  align-content: end;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}
.lost-popup .lost--BgContent {
  grid-area: 3/1/6/4;
  z-index: 5;
  width: 100%;
  height: 100%;
  max-height: calc(253px + env(safe-area-inset-bottom) / 2);
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}
.lost-popup .lost--BgLighter {
  grid-area: 1/1/2/4;
  z-index: 5;
  align-self: end;
  transform: translateY(50px);
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.lost-popup .lost--BgHeader {
  grid-area: 2/1/3/-1;
  z-index: 6;
  max-width: 245px;
  object-fit: fill;
  transform: translateY(24px);
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.lost-popup .lost--zodiac-background {
  align-self: center;
  grid-area: 1/1/2/-1;
  z-index: 6;
  width: 80px;
  transform: translateY(20px);
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.lost-popup .lost--zodiac-card {
  grid-area: 1/1/2/-1;
  z-index: 7;
  width: 55px;
  align-self: center;
  transform: translateY(20px);
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  border: none;
  background-color: transparent;
}
.lost-popup .lost--primary-text {
  grid-area: 2/1/3/-1;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  text-transform: capitalize;
  align-self: end;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  z-index: 7;
  transform: translateY(1px);
  line-height: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.lost-popup .lost__secondary {
  grid-area: 3/1/4/4;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  line-height: 1.15;
  margin-bottom: 10px;
  margin-top: 27px;
  z-index: 7;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.lost-popup .lost--light1 {
  grid-area: 4/1/5/2;
  align-self: start;
  margin-top: 8.5px;
  margin-right: 0;
  justify-self: end;
  z-index: 7;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.lost-popup .lost--tertiary {
  grid-area: 4/2/5/3;
  line-height: 1;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
  z-index: 7;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.lost-popup .lost--light2 {
  grid-area: 4/3/5/4;
  align-self: start;
  margin-top: 8.5px;
  margin-left: 0px;
  justify-self: start;
  z-index: 7;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.lost-popup .lost__no3 {
  grid-area: 5/3/6/4;
  display: grid;
  justify-items: center;
  align-content: end;
  margin-bottom: 11px;
  padding-right: 4px;
  z-index: 7;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  padding-bottom: calc(env(safe-area-inset-bottom) / 2);
}
.lost-popup .lost__no3--img {
  grid-area: 1/1/2/2;
  width: 28px;
  align-self: start;
  justify-self: center;
  position: relative;
  right: -12.1818181818px;
  top: -14.5652173913px;
}
.lost-popup .lost__no3--url {
  grid-area: 1/1/2/2;
  position: relative;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 7px;
}
.lost-popup .lost__no3--url::before, .lost-popup .lost__no3--url::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  box-sizing: border-box;
}
.lost-popup .lost__no3--url::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #ECB79F, #CA7B49);
  z-index: 1;
}
.lost-popup .lost__no3--url::after {
  top: 2px;
  left: 2px;
  width: 63px;
  height: 63px;
  background-image: linear-gradient(to bottom, #CA7B49, #ECB79F);
  z-index: 2;
  box-sizing: border-box;
}
.lost-popup .lost__no3--url > * {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 59px;
  height: 59px;
  border-radius: 50%;
  z-index: 3;
}
.lost-popup .lost__no3--name {
  color: #ffffff;
  line-height: 1.1;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1.5px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 0 10px;
}
.lost-popup .lost__no2 {
  grid-area: 5/1/6/2;
  display: grid;
  justify-items: center;
  align-content: end;
  margin-bottom: 11px;
  padding-left: 4px;
  z-index: 7;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  padding-bottom: calc(env(safe-area-inset-bottom) / 2);
}
.lost-popup .lost__no2--img {
  grid-area: 1/1/2/2;
  width: 28px;
  align-self: start;
  justify-self: center;
  position: relative;
  right: -12.1818181818px;
  top: -14.5652173913px;
}
.lost-popup .lost__no2--url {
  grid-area: 1/1/2/2;
  position: relative;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 7px;
}
.lost-popup .lost__no2--url::before, .lost-popup .lost__no2--url::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  box-sizing: border-box;
}
.lost-popup .lost__no2--url::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #B1D2F2, #7A97AE);
  z-index: 1;
}
.lost-popup .lost__no2--url::after {
  top: 2px;
  left: 2px;
  width: 63px;
  height: 63px;
  background-image: linear-gradient(to bottom, #7A97AE, #B1D2F2);
  z-index: 2;
  box-sizing: border-box;
}
.lost-popup .lost__no2--url > * {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 59px;
  height: 59px;
  border-radius: 50%;
  z-index: 3;
}
.lost-popup .lost__no2--name {
  color: #ffffff;
  line-height: 1.1;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1.5px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 0 10px;
}
.lost-popup .lost__no1 {
  grid-area: 5/2/6/3;
  display: grid;
  justify-items: center;
  align-content: end;
  margin-bottom: 11px;
  padding-bottom: calc(19.5px + env(safe-area-inset-bottom) / 2);
  z-index: 7;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.lost-popup .lost__no1--img {
  grid-area: 1/1/2/2;
  width: 28px;
  align-self: start;
  justify-self: center;
  position: relative;
  right: -14px;
  top: -14.8076923077px;
}
.lost-popup .lost__no1--url {
  grid-area: 1/1/2/2;
  position: relative;
  width: 77px;
  height: 77px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 7px;
}
.lost-popup .lost__no1--url::before, .lost-popup .lost__no1--url::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  box-sizing: border-box;
}
.lost-popup .lost__no1--url::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #FAE5C2, #F0AB39);
  z-index: 1;
}
.lost-popup .lost__no1--url::after {
  top: 1.5px;
  left: 1.5px;
  width: 74px;
  height: 74px;
  background-image: linear-gradient(to bottom, #F0AB39, #FAE5C2);
  z-index: 2;
  box-sizing: border-box;
}
.lost-popup .lost__no1--url > * {
  position: absolute;
  top: 3.5px;
  left: 3.5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 3;
}
.lost-popup .lost__no1--name {
  color: #ffffff;
  line-height: 1.1;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1.5px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 0 10px;
}
.lost-popup .lost__totalIcoin {
  display: flex;
  line-height: 1;
  align-items: center;
  z-index: 7;
}
.lost-popup .lost__totalIcoin--img {
  margin-right: 3px;
  width: 12px;
  height: 12px;
  z-index: 7;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.lost-popup .lost__totalIcoin--icoin {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  z-index: 7;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.win--primary-text {
  grid-area: 2/1/3/-1;
  z-index: 6;
  transform: translateY(33px);
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.win__secondary {
  grid-area: 3/1/4/4;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  line-height: 1.15;
  margin-bottom: 10px;
  margin-top: 26.5px;
  z-index: 7;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
@media (max-width: 375px) {
  .win__secondary {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 5px;
    margin-top: 20px;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
  }
}
.win__secondary--text {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  z-index: 7;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.win__totalIcoin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.win__totalIcoin--img {
  width: 16px;
  height: auto;
  margin-right: 5px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.win__totalIcoin--icoin {
  font-size: 16px;
  font-weight: 450;
  color: #ffffff;
  text-align: center;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.rule {
  background: white;
  position: relative;
  max-width: 260px;
  height: auto;
  display: grid;
  grid-template-rows: repeat(2, min-content) 49px repeat(2, min-content);
  justify-content: center;
  justify-items: center;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: -5px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.rule--primary {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  margin-top: 18.5px;
}
.rule--img {
  max-width: 226px;
  max-height: 100px;
  margin: 18.5px 0 20px 0;
  user-select: none;
  pointer-events: none;
}
.rule--secondary {
  /* text-align: justify; */
  color: #000;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 390;
  margin: 0 16px;
}
.rule__line {
  display: flex;
  line-height: 1;
  margin-top: 50px;
}
.rule__line > :not(:last-child) {
  margin-right: 5px;
}
.rule__line--selected {
  width: 19px;
  height: 2px;
  background-color: #8D8D8D;
  border-radius: 1px;
}
.rule__line--normal {
  width: 12px;
  height: 2px;
  background-color: #F6F6F6;
  border-radius: 1px;
}
.rule__button {
  text-align: center;
  background-color: #1D8E7C;
  width: 189px;
  height: 40px;
  border-radius: 29px;
  margin: 13px 0 20px 0;
}
.rule__button--next {
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  line-height: 1;
  margin-top: 11px;
  font-weight: 420;
}

.history-game-popup {
  max-width: 382px;
  height: 84.3vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: 50px 49px 1fr;
  grid-template-columns: 1fr;
  padding-top: 6px;
  justify-items: center;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.history-game-popup__bg {
  grid-area: 1/1/-1/-1;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.history-game-popup--header {
  grid-area: 1/1/2/2;
  margin-top: 6px;
  margin-bottom: 7px;
  z-index: 2;
}
.history-game-popup__title {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: min-content;
  justify-items: center;
  align-items: center;
  padding: 0 7px;
  grid-area: 2/1/3/2;
}
.history-game-popup__title--no {
  margin-top: 6px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
}
.history-game-popup__card {
  max-width: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.history-game-popup__card--Bg {
  grid-area: 1/1/-1/-1;
  width: 100%;
  height: auto;
  padding: 0 4px;
}
.history-game-popup__card--zodiac {
  grid-area: 1/1/-1/-1;
  max-width: 60%;
  height: auto;
}
.history-game-popup__loading {
  grid-area: 3/1/4/2;
  z-index: 2;
  align-self: start;
  justify-self: center;
  margin-top: 100px;
}
.history-game-popup__content {
  grid-area: 3/1/4/2;
  overflow-y: auto;
  scrollbar-width: none;
  overscroll-behavior: none;
  width: 100%;
  height: calc(84.3vh - 107px);
  align-content: start;
  padding: 0 7px;
  margin-bottom: 8px;
  padding-top: 8.5px;
  z-index: 2;
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 95% 100%, 5% 100%, 0% 95%);
}
.history-game-popup__item {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(9, minmax(min-content, 1fr));
  grid-template-rows: 40px;
  align-items: center;
  justify-items: center;
  border-top: 0.2px solid #58E2C5;
}
.history-game-popup__item--index {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}
.history-game-popup__item--stickShow {
  opacity: 1;
}
.history-game-popup__item--stickHide {
  opacity: 0;
}
.history-game-popup__item--buffalo, .history-game-popup__item--tiger, .history-game-popup__item--dragon, .history-game-popup__item--snake, .history-game-popup__item--horse, .history-game-popup__item--goat, .history-game-popup__item--chicken, .history-game-popup__item--pig {
  width: 100%;
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
}

.mine-popup {
  max-width: 382px;
  height: 85vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1;
  grid-template-rows: 59px 23px 1fr;
  margin: 0 16px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.mine-popup__bg {
  grid-area: 1/1/-1/-1;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.mine-popup--header {
  grid-area: 1/1/2/2;
  justify-self: center;
}
.mine-popup__title {
  grid-area: 2/1/3/2;
  z-index: 2;
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: max-content;
  align-content: center;
  margin: 0 5px;
}
.mine-popup__title--head1 {
  grid-area: 1/1/2/2;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
}
.mine-popup__title--head2 {
  grid-area: 1/2/2/3;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
}
.mine-popup__loading {
  grid-area: 3/1/4/2;
  z-index: 2;
  align-self: start;
  justify-self: center;
  margin-top: 100px;
}
.mine-popup__content {
  grid-area: 3/1/4/2;
  overflow-y: auto;
  scrollbar-width: auto;
  height: calc(85vh - 89px);
  margin: 0 7px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 95% 100%, 5% 100%, 0% 95%);
}
.mine-popup .item {
  display: grid;
  grid-template-columns: minmax(min-content, 40px) 3fr 1fr;
  grid-template-rows: max-content;
  border-top: 0.2px solid #58E2C5;
}
.mine-popup .item__time {
  grid-column: 1/2;
  align-self: end;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  line-height: 1;
  margin-bottom: 6px;
}
.mine-popup .item__time--index {
  font-size: 14px;
  margin-bottom: 6.5px;
}
.mine-popup .item__time--hour {
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 2px;
}
.mine-popup .item__time--date {
  font-size: 10px;
  font-weight: 300;
}
.mine-popup .item .bets {
  grid-column: 2/3;
  display: flex;
  margin-left: 50px;
}
.mine-popup .item .bets .bet {
  display: grid;
  grid-template-columns: 33px;
  grid-template-rows: repeat(4, max-content);
  align-items: center;
  justify-items: center;
  line-height: 1;
  margin-right: 10px;
  margin-bottom: 3px;
}
.mine-popup .item .bets .bet--index {
  grid-area: 1/1/2/2;
  font-size: 10px;
  font-family: "Abril+Fatface";
  color: #29B89A;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: -1px;
}
.mine-popup .item .bets .bet__card--bg {
  grid-area: 2/1/3/2;
  z-index: 1;
  max-width: 100%;
  height: auto;
}
.mine-popup .item .bets .bet__card--zodiac {
  grid-area: 2/1/3/2;
  z-index: 2;
  max-width: 70%;
  height: auto;
}
.mine-popup .item .bets .bet--bonus {
  margin-top: 2px;
  font-size: 12px;
  color: #5fdabc;
}
.mine-popup .item .bets .bet__icoin {
  display: flex;
  align-items: center;
  margin-top: 3px;
}
.mine-popup .item .bets .bet__icoin--img {
  width: 6.5px;
  height: auto;
  margin-right: 1px;
}
.mine-popup .item .bets .bet__icoin--data {
  color: #ffffff;
  font-size: 10px;
}
.mine-popup .item__icoin {
  grid-column: 3/4;
  display: flex;
  align-self: center;
  justify-self: end;
  font-size: 14px;
  margin-right: 13px;
}
.mine-popup .item__icoin--img {
  width: 16px;
  height: auto;
  margin-left: 6px;
}
.mine-popup .item__icoin--data-win {
  color: #00AC26;
}
.mine-popup .item__icoin--data-lost {
  color: #F15350;
}

/* Popup.scss */
.open-card-popup-overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}

.open-card {
  position: relative;
  max-width: 430px;
  width: 100%;
  height: auto;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}
.open-card--tornado {
  grid-area: 1/1/2/2;
  z-index: 1;
}
.open-card--light {
  grid-area: 1/1/2/2;
  z-index: 2;
}
.open-card .card {
  grid-area: 1/1/2/2;
  z-index: 3;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 50px);
}

.noti {
  background: #ffffff;
  max-width: 327px;
  height: auto;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-content: center;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px 39px 25px 39px;
  position: relative;
  top: 35vh;
  z-index: 9;
}

.content {
  grid-area: 1/1/2/3;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  margin-bottom: 26px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.button_left {
  grid-area: 2/1/3/2;
  justify-self: left;
  text-align: justify;
  color: #8D8D8D;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  margin-left: 28px;
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.button_right {
  grid-area: 2/2/3/3;
  justify-self: right;
  text-align: justify;
  color: #F15351;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  margin-right: 28px;
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.maintain {
  background: #ffffff;
  max-width: 327px;
  height: auto;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  align-content: center;
  border-radius: 10px;
  margin: 0 auto;
  padding: 28px 33px 31.5px 33px;
  position: relative;
  top: 28vh;
  z-index: 3000;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.maintain--img {
  grid-area: 1/1/1/-1;
  max-width: 156px;
  max-height: auto;
  user-select: none;
  margin-bottom: 20px;
  pointer-events: none;
}
.maintain--text {
  line-height: 1;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
}

.betting-table {
  margin: 0 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  justify-content: center;
  align-content: start;
}
.betting-table__bg {
  grid-area: 1/1/-1/-1;
  z-index: -1;
  width: 100%;
  max-height: 100%;
  max-height: 320px;
  margin-top: 10px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}
.betting-table--counter {
  grid-area: 1/1/2/2;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  max-width: 135px;
  height: 29px;
  background-size: 100% 100%;
  background-image: url(../assets//bg_countdown.svg);
  padding: 7px 25px 9px 25px;
  padding: 7px 25px 9px 25px;
  margin: 1px auto;
  z-index: 2;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.betting-table__content {
  grid-area: 2/1/3/2;
  z-index: 2;
  padding: 5px 40px 33px 40px;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1px;
  row-gap: 6px;
}
.betting-table__card {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  align-items: start;
  width: 1fr;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  border: none;
  background-color: transparent;
}
.betting-table__card--no {
  margin-top: 3px;
  font-size: 9px;
  color: #29B89A;
  line-height: 1;
  font-family: "Yeseva One";
}
.betting-table__card--bonus {
  margin-top: 2px;
  padding: 2px 18px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #5fdabc;
  background-size: 100% 100%;
  background-image: url(../assets/bg_bonus.svg);
}
.betting-table__card--players {
  margin-top: 4px;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.1;
}
.betting-table__card--bgNormal {
  max-width: 68px;
  width: 100%;
  height: auto;
  grid-area: 2/1/3/2;
  z-index: 1;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  border: none;
  background-color: transparent;
  pointer-events: none;
}
.betting-table__card--bgSelected {
  max-width: 68px;
  width: 100%;
  height: auto;
  grid-area: 2/1/3/2;
  z-index: 2;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  border: none;
  background-color: transparent;
  pointer-events: none;
}
.betting-table__card--zodiac {
  align-self: center;
  max-width: 65%;
  height: auto;
  grid-area: 2/1/3/2;
  z-index: 3;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  border: none;
  background-color: transparent;
}
@media (max-width: 320px) {
  .betting-table__card--bonus {
    padding: 1px 10px;
  }
}

/*# sourceMappingURL=index.css.map */


/* Cho Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px;  /* độ rộng của thanh cuộn */
}

::-webkit-scrollbar-track {
  background: transparent; /* màu nền của track */
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); /* màu của thumb */
  border-radius: 10px;  /* bo tròn thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4); /* màu khi hover */
}

/* Cho Firefox */
* {
  scrollbar-width: thin;  /* độ rộng: thin | auto */
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent; /* màu thumb và track */
}