.card--zodiac {

    @include non_select;
    &__background-selected {
        @include basicBackgroundCard('../assets/card-background-selected.svg');
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__background--small {
        @include basicBackgroundCard('../assets/bg_card_normal_light.svg');
        width: 22px;
        height: 29px;

        @include non_select;
    }

    &__background--medium {
        background-image: url('../assets/card-background-selected.svg');
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    }

    &__small {
        width: 80%;
        height: auto;
        object-fit: fit;

        @include non_select;
        pointer-events: none;
    }
}

.betting-card__background--medium {
    background-image: url('../assets/background_card_large.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}